@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #dc4921;
  --secondary-color: #f3a025;
  --bg-color: #4d260d;
  --surface-variant: #1c0900;
  --surface-variant-2: #0e0907;
  --surface-variant-3: #1c130f;
  --text-primary: #f8d4c7;
  --text-secondary: #ffffff;
  --border-color: #ec7445;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  width: 100%;
  min-height: 100dvh;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image:
    radial-gradient(circle at center, transparent 30%, rgba(0, 0, 0, 0.4) 100%),
    radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size:
    100% 100%,
    20px 20px;
  background-attachment: fixed;
}

/* Por ahora ns si cambiarlo luego */

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  transition: grid-template-columns 0.3s ease-in-out;
  .sidebar-container {
    display: none;
  }

  &.active {
    .sidebar-container {
      display: initial;
    }
  }

  .content-menu-hamburger {
    display: block;
    position: absolute;
    left: 20px;
  }
}

@media (min-width: 768px) {
  .main-container {
    grid-template-columns: 80px 1fr;

    &.active {
      grid-template-columns: 280px 1fr;
    }
    .sidebar-container {
      display: initial;
    }
    .content-menu-hamburger {
      display: none;
    }
  }
}

.outlet-container {
  grid-column: 1;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: padding 0.3s ease-in-out;
  @media (min-width: 768px) {
    grid-column: 2;
    padding: 0 4rem;
  }
}

.main-container.active .outlet-container {
  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }
}
/* .outlet-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
} */

.modules-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}
